body {
    background-color: #ffffff;
    margin: 25 auto;
    padding-left: 20%;
    padding-right: 20%;
    font-family: 'bJCree';
}


h1 {
    font-size: 35px;
    letter-spacing: 3px;
}



p {
    color: #0194d3;
    letter-spacing: 3px;
    border-bottom: 1px solid rgb(151, 151, 151);
    font-size: 15px;

}

h1, h2, h3, p, ol {
    text-align: center;
    width: 0 auto;
    margin-bottom: 20px
}

h3 {
    font-style: italic;;
}

ol, h2, h3{
    text-align: left;
    font-size: 15px;
    font-weight: 600;
}

li {
    margin-bottom: 20px;
}

img {
    display: block;
    margin: 0 auto;
    width: 25%;
    margin-top: 10%;
}